<!-- divider -->
<div class="dropdown-divider"></div>

<!-- // -->
<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="d-flex social-hover item-grid-overlay w-100 arrow-hover arrow-gray by-loaded by-drag">
        <div [routerLink]="['/deals/1']" class="item cursor-pointer w-25 mr-3">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _9 height-240px bg-image-canvas product-2-sm"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Tropical Canggu Villa on Ricefield near the Beach</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item w-25 mr-3">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _1 height-240px bg-image-canvas team-3-sm"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Tropical Canggu Villa on Ricefield near the Beach</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item w-50">
          <div class="home-banner-section w-100">
            <div class="home-banner bg-overlay-dark-2 bg-image-canvas mx-auto shadow-lg">
              <div class="height-350px carousel slide" data-ride="carousel" id="carouselExampleCaptions">
                <ol class="carousel-indicators">
                  <li class="" data-slide-to="0" data-target="#carouselExampleCaptions"></li>
                  <li data-slide-to="1" data-target="#carouselExampleCaptions" class=""></li>
                  <li data-slide-to="2" data-target="#carouselExampleCaptions" class="active"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item height-350px">
                    <div class="carousel-item-banner bg-grad by-image-cover bg-image-canvas startup-"></div>
                    <div class="carousel-item-details d-flex height-350px p-5">
                      <div class="row h-100 m-0 justify-content-center align-items-center">
                        <div class="mr-auto all-text-white by-banner">
                          <h2 class="title">Beauty made easier with top brands</h2>
                          <div class="sub-title">We offer Cutting edge Solutions that is tested and
                            trusted...</div><a class="btn btn-outline-white btn mt-3" ng-reflect-router-link="/about"
                            href="/about">Explore the services</a>
                        </div>
                      </div>
                      <div class="w-100 justify-content-center"></div>
                    </div>
                    <div class="carousel-item-backdrop"></div>
                  </div>
                  <div class="carousel-item height-350px">
                    <div class="carousel-item-banner bg-grad by-image-cover bg-image-canvas startup-"></div>
                    <div class="carousel-item-details d-flex height-350px p-5">
                      <div class="row h-100 m-0 justify-content-center align-items-center">
                        <div class="mr-auto all-text-white by-banner">
                          <h2 class="title">Items From China Arrives in Just Two Weeks</h2>
                          <div class="sub-title">We offer Cutting edge Solutions that is tested and
                            trusted...</div><a class="btn btn-outline-white btn mt-3" ng-reflect-router-link="/about"
                            href="/about">Explore the services</a>
                        </div>
                      </div>
                      <div class="w-100 justify-content-center"></div>
                    </div>
                    <div class="carousel-item-backdrop"></div>
                  </div>
                  <div class="carousel-item height-350px active">
                    <div class="carousel-item-banner bg-grad by-image-cover bg-image-canvas startup-"></div>
                    <div class="carousel-item-details d-flex height-350px p-5">
                      <div class="row h-100 m-0 justify-content-center align-items-center">
                        <div class="mr-auto all-text-white by-banner">
                          <h2 class="title">Log In and Get a Secret Offer</h2>
                          <div class="sub-title">We offer Cutting edge Solutions that is tested and
                            trusted...</div><a class="btn btn-outline-white btn mt-3" ng-reflect-router-link="/about"
                            href="/about">Explore the services</a>
                        </div>
                      </div>
                      <div class="w-100 justify-content-center"></div>
                    </div>
                    <div class="carousel-item-backdrop"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- // -->
<section class="pt-0 mb-2">
  <div class="container">
    <div class="row mt-3">
      <div class="w-25 mx-auto text-center">
        <h1>How Does it Work</h1>
      </div>
    </div>
    <div class="d-flex mt-3">
      <div class="col-sm-6 col-md-4 mr-3">
        <div class="feature-box h-100 icon-grad text-center">
          <div class="icon icon-120 circled-user-female-color-icon mx-auto"></div>
          <h4 class="feature-box-title mt-3">Own an Account</h4>
          <p class="feature-box-desc">Create an account and get a membership card to be eligible for all our cash back
            deals.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="feature-box h-100 icon-grad text-center">
          <div class="icon icon-120 merchant-account-color-icon mx-auto"></div>
          <h4 class="feature-box-title mt-3">Shop From Accredited Merchants</h4>
          <p class="feature-box-desc">Choose specific deals to get up to 30% cash back at all participating merchants
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 ml-3">
        <div class="feature-box h-100 icon-grad text-center">
          <div class="icon icon-120 confetti-color-icon mx-auto"></div>
          <h4 class="feature-box-title mt-3">Enjoy Massive Deals</h4>
          <p class="feature-box-desc">Use enrolled membership card at accredited merchants to get cash back on all of
            your purchases.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- // -->
<section class="mb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 h-md-50-vh border-radius-3 border-radius-right-0 bg-image-canvas startup-6-sm"></div>
      <div class="col-md-6 p-md-5 p-4 bg-dark all-text-white border-radius-3 border-radius-left-0">
        <h4 class="mb-4">Does design matter? How important is design to business success.</h4>
        <p>Increasing impression interested expression he my at. Respect invited request
          charmed me warrant to. Expect no pretty as do though so genius afraid cousin. Girl when of ye snug poor
          draw. Mistake totally of in chiefly. </p>
        <p>Justice visitor him entered for. Continue delicate as unlocked entirely mr relation
          diverted in. Known not end fully being style house. </p>
        <h5>Have any question? Contact us now:</h5>
      </div>
    </div>
  </div>
</section>

<!-- // -->
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="d-flex w-100">
        <div class="text-left w-75">
          <h3 class="m-0">Your Recently Viewed Deals</h3>
        </div>
        <div class="w-25">
          <div class="float-right">
            <a class="p-0" href="">
              <h6 class="m-0 line-height-30">Show All (1000+)</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item-grid grid-column-4 social-hover item-grid-overlay arrow-hover arrow-gray by-loaded by-drag"
        data-arrow="true" data-dots="false" data-items-xl="2" data-items-xs="1">

        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _3 height-240px bg-image-canvas"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Tropical Canggu Villa on Ricefield near the Beach</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div class="text-truncate">Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _7 height-240px bg-image-canvas school-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Carefree Feet</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _14 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Picture People</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _21 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Hooked on Phonics</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- // -->
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="d-flex w-100">
        <div class="text-left w-75">
          <h3 class="m-0">Best deals on Classroom</h3>
        </div>
        <div class="w-25">
          <div class="float-right">
            <a class="p-0" href="">
              <h6 class="m-0 line-height-30">Show All (1000+)</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item-grid grid-column-3 social-hover item-grid-overlay arrow-hover arrow-gray by-loaded by-drag"
        data-arrow="true" data-dots="false" data-items-xl="2" data-items-xs="1">
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _41 height-240px bg-image-canvas"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Wholesale Banking Solution</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _27 height-240px bg-image-canvas school-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Classroom SchoolManager</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _17 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- // -->
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="d-flex w-100">
        <div class="text-left w-75">
          <h3 class="m-0">Best Deals on Beauty Products</h3>
        </div>
        <div class="w-25">
          <div class="float-right">
            <a class="p-0" href="">
              <h6 class="m-0 line-height-30">Show All (1000+)</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="item-grid grid-column-4 social-hover item-grid-overlay arrow-hover arrow-gray by-loaded by-drag"
        data-arrow="true" data-dots="false" data-items-xl="2" data-items-xs="1">
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _38 height-240px bg-image-canvas"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Wholesale Banking Solution</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _34 height-240px bg-image-canvas school-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Classroom SchoolManager</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _19 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _8 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _2 height-240px bg-image-canvas"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Wholesale Banking Solution</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _11 height-240px bg-image-canvas school-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Classroom SchoolManager</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _13 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _16 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <div>
                <widget-rating></widget-rating>
              </div>
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- // -->
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="d-flex w-100">
        <div class="text-left w-75">
          <h3 class="m-0">Best Deals on Beauty Products</h3>
        </div>
        <div class="w-25">
          <div class="float-right">
            <a class="p-0" href="">
              <h6 class="m-0 line-height-30">Show All (1000+)</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item-grid grid-column-4 social-hover item-grid-overlay arrow-hover arrow-gray by-loaded by-drag"
        data-arrow="true" data-dots="false" data-items-xl="2" data-items-xs="1">
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _12 height-240px bg-image-canvas"></div>
            <div class="item-details">
              <h5>Wholesale Banking Solution</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _15 height-240px bg-image-canvas school-manager"></div>
            <div class="item-details">
              <h5>Classroom SchoolManager</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _20 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _22 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _30 height-240px bg-image-canvas"></div>
            <div class="item-details">
              <h5>Wholesale Banking Solution</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _35 height-240px bg-image-canvas school-manager"></div>
            <div class="item-details">
              <h5>Classroom SchoolManager</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _48 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper mb-0 text-left">
            <div class="item-image bg _49 height-240px bg-image-canvas farm-manager"></div>
            <div class="item-details">
              <h5>Farm Management Solutions</h5>
              <div class="d-flex">
                <div></div>
              </div>
              <div class="d-flex">
                <div>Find what you need for home, school, work and fun.</div>
              </div>
              <div class="d-flex mt-2">
                <div>
                  <h5>$25.99</h5>
                </div>
                <div class="ml-1"><span>- 20% OFF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
