.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.icon-10 {
  width: 10px;
  max-width: 10px;
  min-width: 10px;
  height: 10px;
}

.icon-11 {
  width: 11px;
  max-width: 11px;
  min-width: 11px;
  height: 11px;
}

.icon-12 {
  width: 12px;
  max-width: 12px;
  min-width: 12px;
  height: 12px;
}

.icon-13 {
  width: 13px;
  max-width: 13px;
  min-width: 13px;
  height: 13px;
}

.icon-14 {
  width: 14px;
  max-width: 14px;
  min-width: 14px;
  height: 14px;
}

.icon-15 {
  width: 15px;
  max-width: 15px;
  min-width: 15px;
  height: 15px;
}

.icon-16 {
  width: 16px;
  max-width: 16px;
  min-width: 16px;
  height: 16px;
}

.icon-17 {
  width: 17px;
  max-width: 17px;
  min-width: 17px;
  height: 17px;
}

.icon-18 {
  width: 18px;
  max-width: 18px;
  min-width: 18px;
  height: 18px;
}

.icon-19 {
  width: 19px;
  max-width: 19px;
  min-width: 19px;
  height: 19px;
}

.icon-20 {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
}

.icon-21 {
  width: 21px;
  max-width: 21px;
  min-width: 21px;
  height: 21px;
}

.icon-22 {
  width: 22px;
  max-width: 22px;
  min-width: 22px;
  height: 22px;
}

.icon-23 {
  width: 23px;
  max-width: 23px;
  min-width: 23px;
  height: 23px;
}

.icon-24 {
  width: 24px;
  max-width: 24px;
  min-width: 24px;
  height: 24px;
}

.icon-25 {
  width: 25px;
  max-width: 25px;
  min-width: 25px;
  height: 25px;
}

.icon-26 {
  width: 26px;
  max-width: 26px;
  min-width: 26px;
  height: 26px;
}

.icon-27 {
  width: 27px;
  max-width: 27px;
  min-width: 27px;
  height: 27px;
}

.icon-28 {
  width: 28px;
  max-width: 28px;
  min-width: 28px;
  height: 28px;
}

.icon-29 {
  width: 29px;
  max-width: 29px;
  min-width: 29px;
  height: 29px;
}

.icon-30 {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  height: 30px;
}

.icon-31 {
  width: 31px;
  height: 31px;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-33 {
  width: 33px;
  height: 33px;
}

.icon-34 {
  width: 34px;
  height: 34px;
}

.icon-35 {
  max-width: 35px;
  min-width: 35px;
  width: 35px;
  max-height: 35px;
  min-height: 35px;
  height: 35px;
}

.icon-36 {
  width: 36px;
  height: 36px;
}

.icon-37 {
  width: 37px;
  height: 37px;
}

.icon-38 {
  width: 38px;
  height: 38px;
}

.icon-39 {
  width: 39px;
  height: 39px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-41 {
  width: 41px;
  height: 41px;
}

.icon-42 {
  width: 42px;
  height: 42px;
}

.icon-43 {
  width: 43px;
  height: 43px;
}

.icon-44 {
  width: 44px;
  height: 44px;
}

.icon-45 {
  width: 45px;
  height: 45px;
}

.icon-46 {
  width: 46px;
  height: 46px;
}

.icon-47 {
  width: 47px;
  height: 47px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}

.icon-49 {
  width: 49px;
  height: 49px;
}

.icon-50 {
  width: 50px;
  height: 50px;
}

.icon-51 {
  width: 51px;
  height: 51px;
}

.icon-52 {
  width: 52px;
  height: 52px;
}

.icon-53 {
  width: 53px;
  height: 53px;
}

.icon-54 {
  width: 54px;
  height: 54px;
}

.icon-55 {
  width: 55px;
  height: 55px;
}

.icon-56 {
  width: 56px;
  height: 56px;
}

.icon-57 {
  width: 57px;
  height: 57px;
}

.icon-58 {
  width: 58px;
  height: 58px;
}

.icon-59 {
  width: 59px;
  height: 59px;
}

.icon-60 {
  width: 60px;
  height: 60px;
}

.icon-61 {
  width: 61px;
  height: 61px;
}

.icon-62 {
  width: 62px;
  height: 62px;
}

.icon-63 {
  width: 63px;
  height: 63px;
}

.icon-64 {
  width: 64px;
  height: 64px;
}

.icon-120 {
  width: 120px;
  height: 120px;
}

/* shop/store utilities */
.shopping-cart-icon {
  background-image: url('black/shopping_cart_black_64px.png');
}

.shopping-cart-white-icon {
  background-image: url('white/shopping_cart_white_64px.png');
}

.card-in-use-color-icon {
  background-image: url('color/card_in_use_96px.png');
}

.circled-user-female-color-icon {
  background-image: url('color/circled_user_female_120px.png');
}

.merchant-account-color-icon {
  background-image: url('color/merchant_account_120px.png');
}

.confetti-color-icon {
  background-image: url('color/confetti_120px.png');
}

.obama-color-icon {
  background-image: url('color/obama_120px.png');
}

/* mobile app stores */
.google-playstore-icon {
  background-image: url('black/google_play_black_filled_50px.png');
}

.google-playstore-white-icon {
  background-image: url('white/google_play_white_filled_50px.png');
}

.google-playstore-color-icon {
  background-image: url('color/google_play_color_filled_50px.png');
}

.apple-appstore-icon {
  background-image: url('black/apple_mac_os_black_filled_50px.png');
}

.apple-appstore-white-icon {
  background-image: url('white/apple_mac_os_white_filled_50px.png');
}

.apple-appstore-color-icon {
  background-image: url('white/apple_mac_os_white_filled_50px.png');
}

/* search utilities */
.search-black-icon {
  background-image: url('black/search_black_filled_50px.png');
}

.search-white-icon {
  background-image: url('white/search_white_filled_50px.png');
}





/* ios glyph icons */
.star-black-icon {
  background-image: url(../icons/black/star_black_20px.png);
}

.star-white-icon {
  background-image: url(../icons/white/star_white_20px.png);
}

.star-color-icon {
  background-image: url(../icons/color/star_color_20px.png);
}

.star-half-empty-black-icon {
  /* background-image: url(../icons/black/star_20px.png); */
}

.star-half-empty-white-icon {
  /* background-image: url(../icons/white/star_white_20px.png); */
}

.star-half-empty-color-icon {
  background-image: url(../icons/color/star_half_empty_20px.png);
}

.marker-black-icon {
  background-image: url(../icons/black/marker_black_20px.png);
}

.marker-white-icon {
  /* background-image: url(../icons/white/star_white_20px.png); */
}

.marker-color-icon {
  /* background-image: url(../icons/color/star_half_empty_20px.png); */
}

.expand-black-icon {
  background-image: url(../icons/black/expand_arrow_black_30px.png);
}

.expand-white-icon {
  /* background-image: url(../icons/white/star_white_20px.png); */
}

.expand-color-icon {
  /* background-image: url(../icons/color/star_half_empty_20px.png); */
}

.collapse-black-icon {
  background-image: url(../icons/black/collapse_arrow_black_30px.png);
}

.heart-black-icon {
  background-image: url(../icons/black/heart_black_30px.png);
}

.heart-white-icon {
  /* background-image: url(../icons/white/star_white_20px.png); */
}

.heart-color-icon {
  /* background-image: url(../icons/color/star_half_empty_20px.png); */
}

.share-black-icon {
  background-image: url(../icons/black/share_black_30px.png);
}

.email-black-icon {
  background-image: url(../icons/black/email_black_30px.png);
}

.phone-black-icon {
  background-image: url(../icons/black/phone_black_30px.png);
}

.phone-message-black-icon {
  background-image: url(../icons/black/phone_message_black_30px.png);
}

.phone-not-used-black-icon {
  background-image: url(../icons/black/phone_not_being_used_black_30px.png);
}

.cocktail-black-icon {
  background-image: url(../icons/black/cocktail_black_30px.png);
}

.coworking-black-icon {
  background-image: url(../icons/black/coworking_black_30px.png);
}

.deliver-food-black-icon {
  background-image: url(../icons/black/deliver_food_black_30px.png);
}

.dining-room-black-icon {
  background-image: url(../icons/black/dining_room_black_30px.png);
}

.discount-black-icon {
  background-image: url(../icons/black/discount_black_30px.png);
}

.discount-finder-black-icon {
  background-image: url(../icons/black/discount_finder_black_30px.png);
}

.elevator-black-icon {
  background-image: url(../icons/black/elevator_black_30px.png);
}

.fire-alarm-black-icon {
  background-image: url(../icons/black/fire_alarm_black_30px.png);
}

.kitchen-black-icon {
  background-image: url(../icons/black/kitchen_black_30px.png);
}

.laptop-black-icon {
  background-image: url(../icons/black/laptop_black_30px.png);
}

.pc-ondesk-black-icon {
  background-image: url(../icons/black/pc_on_desk_black_30px.png);
}

.playground-black-icon {
  background-image: url(../icons/black/playground_black_30px.png);
}

.police-station-black-icon {
  background-image: url(../icons/black/police_station_black_30px.png);
}

.reuse-black-icon {
  background-image: url(../icons/black/reuse_black_30px.png);
}

.tennis-black-icon {
  background-image: url(../icons/black/tennis_black_30px.png);
}

.toilet-paper-black-icon {
  background-image: url(../icons/black/toilet_paper_black_30px.png);
}

.toilet-bowl-black-icon {
  background-image: url(../icons/black/toilet_bowl_black_30px.png);
}

.wifi-black-icon {
  background-image: url(../icons/black/wifi_black_30px.png);
}

.air-conditioner-black-icon {
  background-image: url(../icons/black/air_conditioner_black_30px.png);
}

.heating-room-black-icon {
  background-image: url(../icons/black/heating_room_black_30px.png);
}

.temperature-inside-black-icon {
  background-image: url(../icons/black/temperature_inside_black_30px.png);
}

.fireplace-black-icon {
  background-image: url(../icons/black/fireplace_black_30px.png);
}

.fire-black-icon {
  background-image: url(../icons/black/fire_element_black_30px.png);
}

.gas-black-icon {
  background-image: url(../icons/black/gas_black_30px.png);
}

.filter-black-icon {
  background-image: url(../icons/black/filter_black_30px.png);
}

.more-black-icon {
  background-image: url(../icons/black/more_black_30px.png);
}

.google-color-icon {
  background-image: url('color/google_logo_color_32px.png');
}

.facebook-color-icon {
  background-image: url('color/facebook_color_32px.png');
}

.add-black-icon {
  background-image: url(../icons/black/add_black_30px.png);
}

.add-white-icon {
  background-image: url(../icons/white/add_white_30px.png);
}

.calendar-color-icon {
  background-image: url(../icons/color/calendar_color_30px.png);
}

.calendar-black-icon {
  background-image: url(../icons/black/calendar_black_30px.png);
}

.sort-black-icon {
  background-image: url(../icons/black/sort_black_30px.png);
}

.sort-up-black-icon {
  background-image: url(../icons/black/sort_up_black_30px.png);
}

.sort-down-black-icon {
  background-image: url(../icons/black/sort_down_black_30px.png);
}

.upload-black-icon {
  background-image: url(../icons/black/upload_black_30px.png);
}

.edit-1-black-icon {
  background-image: url(../icons/black/edit_black_30px.png);
}

.edit-1-white-icon {
  background-image: url(../icons/white/edit_white_30px.png);
}

.edit-2-black-icon {
  background-image: url(../icons/black/pencil_drawing_black_30px.png);
}

.edit-2-white-icon {
  /* background-image: url(../icons/white/edit_white_30px.png); */
}

.delete-black-icon {
  background-image: url(../icons/black/delete_black_30px.png);
}

.delete-white-icon {
  background-image: url(../icons/white/delete_white_30px.png);
}

.menu-black-icon {
  background-image: url(../icons/black/menu_black_30px.png);
}

.menu-white-icon {
  background-image: url(../icons/white/menu_white_30px.png);
}

.class-color-icon {
  background-image: url(../icons/color/class_color_30px.png);
}

.class-black-icon {
  background-image: url(../icons/black/class_black_30px.png);
}

.teacher-color-icon {
  background-image: url(../icons/color/teacher_color_30px.png);
}

/* .teacher-black-icon {
  background-image: url(../icons/black/teacher_black_30px.png);
} */

.student-color-icon {
  background-image: url(../icons/color/student_color_30px.png);
}

.student-black-icon {
  background-image: url(../icons/black/student_black_30px.png);
}

.courses-color-icon {
  background-image: url(../icons/color/courses_color_30px.png);
}

.courses-black-icon {
  background-image: url(../icons/black/courses_black_30px.png);
}

/* .training-color-icon {
  background-image: url(../icons/color/training_color_30px.png);
} */

.training-black-icon {
  background-image: url(../icons/black/training_black_30px.png);
}

/* .assessment-color-icon {
  background-image: url(../icons/color/assessment_color_30px.png);
} */

.assessment-black-icon {
  background-image: url(../icons/black/assessment_black_30px.png);
}

/* .note-color-icon {
  background-image: url(../icons/color/note_color_30px.png);
} */

.note-black-icon {
  background-image: url(../icons/black/note_black_30px.png);
}

/* .settings-color-icon {
  background-image: url(../icons/color/settings_color_30px.png);
} */

.settings-black-icon {
  background-image: url(../icons/black/settings_black_30px.png);
}

/* .globe-color-icon {
  background-image: url(../icons/color/globe_color_30px.png);
} */

.globe-black-icon {
  background-image: url(../icons/black/globe_black_30px.png);
}

/* .subscription-color-icon {
  background-image: url(../icons/color/subscription_color_30px.png);
} */

.subscription-black-icon {
  background-image: url(../icons/black/subscription_black_30px.png);
}

/* .wallet-color-icon {
  background-image: url(../icons/color/wallet_color_30px.png);
} */

.wallet-black-icon {
  background-image: url(../icons/black/wallet_black_30px.png);
}

/* .submission-color-icon {
  background-image: url(../icons/color/submit_document_color_30px.png);
} */

.submission-black-icon {
  background-image: url(../icons/black/submit_document_black_30px.png);
}

/* .favorite-color-icon {
  background-image: url(../icons/color/favorite_color_30px.png);
} */

.favorite-black-icon {
  background-image: url(../icons/black/favorite_black_30px.png);
}

/* .task-color-icon {
  background-image: url(../icons/color/task_color_30px.png);
} */

.task-black-icon {
  background-image: url(../icons/black/task_black_30px.png);
}

/* .homework-color-icon {
  background-image: url(../icons/color/homework_color_30px.png);
} */

.homework-black-icon {
  background-image: url(../icons/black/homework_black_30px.png);
}

/* .notification-color-icon {
  background-image: url(../icons/color/notification_color_30px.png);
} */

.notification-black-icon {
  background-image: url(../icons/black/notification_black_30px.png);
}

/* .user-1-color-icon {
  background-image: url(../icons/color/user_color_30px.png);
} */

.user-1-black-icon {
  background-image: url(../icons/black/user_black_30px.png);
}

/* .user-1-color-icon-100 {
  background-image: url(../icons/color/user_color_100px.png);
} */

.user-1-black-icon-100 {
  background-image: url(../icons/black/user_black_100px.png);
}

/* .user-2-color-icon {
  background-image: url(../icons/color/user_circle_color_30px.png);
} */

.user-2-black-icon {
  background-image: url(../icons/black/user_circle_black_30px.png);
}

/* .user-2-color-icon-100 {
  background-image: url(../icons/color/user_circle_color_100px.png);
} */

.user-2-black-icon-100 {
  background-image: url(../icons/black/user_circle_black_100px.png);
}

/* .log-color-icon {
  background-image: url(../icons/color/log_color_30px.png);
} */

.log-black-icon {
  background-image: url(../icons/black/log_black_30px.png);
}

/* .grades-color-icon {
  background-image: url(../icons/color/grades_color_30px.png);
} */

.grades-black-icon {
  background-image: url(../icons/black/grades_black_30px.png);
}

/* .groups-color-icon {
  background-image: url(../icons/color/group_task_color_30px.png);
} */

.groups-black-icon {
  background-image: url(../icons/black/group_task_black_30px.png);
}

/* .report-card-color-icon {
  background-image: url(../icons/color/report_card_color_30px.png);
} */

.report-card-black-icon {
  background-image: url(../icons/black/report_card_black_30px.png);
}

/* .timetable-color-icon {
  background-image: url(../icons/color/timetable_color_30px.png);
} */

.timetable-black-icon {
  background-image: url(../icons/black/timetable_black_30px.png);
}

/* .share-color-icon {
  background-image: url(../icons/color/share_color_30px.png);
} */

.share-black-icon {
  background-image: url(../icons/black/share_black_30px.png);
}

.share-white-icon {
  background-image: url(../icons/white/share_white_30px.png);
}

/* .product-color-icon {
  background-image: url(../icons/color/product_color_30px.png);
} */

.product-black-icon {
  background-image: url(../icons/black/product_black_30px.png);
}

/* .product-white-icon {
  background-image: url(../icons/white/product_white_30px.png);
} */

/* .customer-color-icon {
  background-image: url(../icons/color/customer_color_30px.png);
} */

.customer-black-icon {
  background-image: url(../icons/black/customer_black_30px.png);
}

/* .customer-white-icon {
  background-image: url(../icons/white/customer_white_30px.png);
} */

/* .order-color-icon {
  background-image: url(../icons/color/order_color_30px.png);
} */

.order-black-icon {
  background-image: url(../icons/black/order_black_30px.png);
}

/* .order-white-icon {
  background-image: url(../icons/white/order_white_30px.png);
} */

/* .supplier-color-icon {
  background-image: url(../icons/color/supplier_color_30px.png);
} */

.supplier-black-icon {
  background-image: url(../icons/black/supplier_black_30px.png);
}

/* .supplier-white-icon {
  background-image: url(../icons/white/supplier_white_30px.png);
} */

/* .inventory-color-icon {
  background-image: url(../icons/color/inventory_color_30px.png);
} */

.inventory-black-icon {
  background-image: url(../icons/black/inventory_black_30px.png);
}

/* .inventory-white-icon {
  background-image: url(../icons/white/inventory_white_30px.png);
} */

/* .brand-color-icon {
  background-image: url(../icons/color/trademark_color_30px.png);
} */

.brand-black-icon {
  background-image: url(../icons/black/trademark_black_30px.png);
}

/* .brand-white-icon {
  background-image: url(../icons/white/trademark_white_30px.png);
} */

/* .category-color-icon {
  background-image: url(../icons/color/category_color_30px.png);
} */

.category-black-icon {
  background-image: url(../icons/black/category_black_30px.png);
}

/* .category-white-icon {
  background-image: url(../icons/white/category_white_30px.png);
} */

/* .unit-color-icon {
  background-image: url(../icons/color/unit_color_30px.png);
} */

.unit-black-icon {
  background-image: url(../icons/black/unit_black_30px.png);
}

/* .unit-white-icon {
  background-image: url(../icons/white/unit_white_30px.png);
} */

/* .variant-color-icon {
  background-image: url(../icons/color/variant_color_30px.png);
} */

.variant-black-icon {
  background-image: url(../icons/black/variant_black_30px.png);
}

/* .variant-white-icon {
  background-image: url(../icons/white/variant_white_30px.png);
} */

/* .tax-color-icon {
  background-image: url(../icons/color/tax_color_30px.png);
} */

.tax-black-icon {
  background-image: url(../icons/black/tax_black_30px.png);
}

/* .tax-white-icon {
  background-image: url(../icons/white/tax_white_30px.png);
} */

/* .currency-color-icon {
  background-image: url(../icons/color/currency_color_30px.png);
} */

.currency-black-icon {
  background-image: url(../icons/black/currency_settings_black_30px.png);
}

/* .currency-white-icon {
  background-image: url(../icons/white/currency_white_30px.png);
} */

/* .transactions-color-icon {
  background-image: url(../icons/color/transaction_list_color_30px.png);
} */

.transactions-black-icon {
  background-image: url(../icons/black/transaction_list_black_30px.png);
}

/* .transactions-white-icon {
  background-image: url(../icons/white/transaction_list_white_30px.png);
} */

/* .browse-color-icon {
  background-image: url(../icons/color/opened_folder_color_30px.png);
} */

.browse-black-icon {
  background-image: url(../icons/black/opened_folder_black_30px.png);
}

/* .browse-white-icon {
  background-image: url(../icons/white/opened_folder_white_30px.png);
} */

/* .refresh-color-icon {
  background-image: url(../icons/color/refresh_color_30px.png);
} */

.refresh-black-icon {
  background-image: url(../icons/black/refresh_black_30px.png);
}

/* .refresh-white-icon {
  background-image: url(../icons/white/refresh_white_30px.png);
} */

/* .ingredients-color-icon {
  background-image: url(../icons/color/ingredients_color_30px.png);
} */

.ingredients-black-icon {
  background-image: url(../icons/black/ingredients_black_30px.png);
}

/* .ingredients-white-icon {
  background-image: url(../icons/white/ingredients_white_30px.png);
} */

/* .concept-color-icon {
  background-image: url(../icons/color/concept_color_30px.png);
} */

.concept-black-icon {
  background-image: url(../icons/black/concept_black_30px.png);
}

/* .concept-white-icon {
  background-image: url(../icons/white/concept_white_30px.png);
} */

/* .mind-map-color-icon {
  background-image: url(../icons/color/mind_map_color_30px.png);
} */

.mind-map-black-icon {
  background-image: url(../icons/black/mind_map_black_30px.png);
}

/* .pictures-folder-white-icon {
  background-image: url(../icons/white/pictures_folder_white_30px.png);
} */

.pictures-folder-black-icon {
  background-image: url(../icons/black/pictures_folder_black_30px.png);
}

/* .pictures-folder-white-icon {
  background-image: url(../icons/white/pictures_folder_white_30px.png);
} */

/* .blogger-white-icon {
  background-image: url(../icons/white/blogger_white_30px.png);
} */

.blogger-black-icon {
  background-image: url(../icons/black/blogger_black_30px.png);
}

/* .blogger-white-icon {
  background-image: url(../icons/white/blogger_white_30px.png);
} */

/* .rituals-white-icon {
  background-image: url(../icons/white/meditation_white_30px.png);
} */

.rituals-black-icon {
  background-image: url(../icons/black/meditation_black_30px.png);
}

/* .rituals-white-icon {
  background-image: url(../icons/white/meditation_white_30px.png);
} */

/* .contents-white-icon {
  background-image: url(../icons/white/contents_white_30px.png);
} */

.contents-black-icon {
  background-image: url(../icons/black/contents_black_30px.png);
}

/* .contents-white-icon {
  background-image: url(../icons/white/contents_white_30px.png);
} */

.email-template-black-icon {
  background-image: url(../icons/black/email_template_black_30px.png);
}

.email-template-white-icon {
  background-image: url(../icons/white/email_template_white_30px.png);
}

.cloud-business-black-icon {
  background-image: url(../icons/black/cloud_business_black_30px.png);
}

.cloud-business-white-icon {
  /* background-image: url(../icons/white/cloud_business_white_30px.png); */
}

.internet-explorer-black-icon {
  background-image: url(../icons/black/internet_explorer_black_30px.png);
}

.internet-explorer-white-icon {
  /* background-image: url(../icons/white/internet_explorer_white_30px.png); */
}

.merchant-bank-black-icon {
  background-image: url(../icons/black/merchant_account_black_30px.png);
}

.merchant-bank-white-icon {
  /* background-image: url(../icons/white/merchant_account_white_30px.png); */
}

.credit-provider-black-icon {
  background-image: url(../icons/black/mobile_shop_credit_black_30px.png);
}

.credit-provider-white-icon {
  /* background-image: url(../icons/white/mobile_shop_credit_white_30px.png); */
}

.yelp-black-icon {
  background-image: url(../icons/black/yelp_black_30px.png);
}

.yelp-white-icon {
  /* background-image: url(../icons/white/yelp_white_30px.png); */
}

.newsletter-black-icon {
  background-image: url(../icons/black/mailer_black_30px.png);
}

.newsletter-white-icon {
  /* background-image: url(../icons/white/mailer_white_30px.png); */
}

.api-black-icon {
  background-image: url(../icons/black/rest_api_black_30px.png);
}

.api-white-icon {
  /* background-image: url(../icons/white/rest_api_white_30px.png); */
}

.requirements-black-icon {
  background-image: url(../icons/black/scorecard_black_30px.png);
}

.requirements-white-icon {
  /* background-image: url(../icons/white/rest_api_white_30px.png); */
}

.honeycomb-black-icon {
  background-image: url(../icons/black/honeycombs_black_30px.png);
}

.honeycomb-white-icon {
  /* background-image: url(../icons/white/honeycombs_white_30px.png); */
}

.page-black-icon {
  background-image: url(../icons/black/page_black_30px.png);
}

.page-white-icon {
  /* background-image: url(../icons/white/page_white_30px.png); */
}

.data-sheet-black-icon {
  background-image: url(../icons/black/data_sheet_black_30px.png);
}

.data-sheet-white-icon {
  /* background-image: url(../icons/white/data_sheet_white_30px.png); */
}

.insight-black-icon {
  background-image: url(../icons/black/ecosia_black_30px.png);
}

.insight-white-icon {
  /* background-image: url(../icons/white/ecosia_white_30px.png); */
}

.dashboard-black-icon {
  background-image: url(../icons/black/dashboard_black_30px.png);
}

.dashboard-white-icon {
  /* background-image: url(../icons/white/dashboard_white_30px.png); */
}

.left-black-icon {
  background-image: url(../icons/black/dashboard_black_30px.png);
}

.left-white-icon {
  /* background-image: url(../icons/white/dashboard_white_30px.png); */
}

.right-black-icon {
  background-image: url(../icons/black/right_black_30px.png);
}

.right-white-icon {
  /* background-image: url(../icons/white/right_white_30px.png); */
}

.report-black-icon {
  background-image: url(../icons/black/graph_report_black_30px.png);
}

.report-white-icon {
  /* background-image: url(../icons/white/pie_chart_report_white_30px.png); */
}

.presentation-black-icon {
  background-image: url(../icons/black/presentation_black_30px.png);
}

.presentation-white-icon {
  /* background-image: url(../icons/white/presentation_white_30px.png); */
}