<div class="bg-white">
  <div class="container max-width-1100px pb-5">
    <div class="mt-0 mb-0 pt-4 pb-4">
      <div class="d-flex justify-content-center w-100 pt-5">
        <div class="min-width-350px max-width-350px">
          <div class="mb-4">
            <h1>Sign In</h1>
            <span>Nice to see you again! Please log in with your account.</span>
          </div>
          <div class="mb-2">
            <div class="mb-0">
              <div class="m-0">
                <div class="">
                  <div class="w-100 mb-3">
                    <div class="mb-1 font-size-14px font-weight-normal">
                      Username or email address
                    </div>
                    <div class="text-truncate line-height-16px shadow">
                      <input type="text" placeholder=""
                        class="w-100 form-control input-sm m-0 p-2" [(ngModel)]="data.Email" />
                    </div>
                  </div>
                  <div class="w-100 mb-2">
                    <div class="mb-1 font-size-14px font-weight-normal">
                      Password
                    </div>
                    <div class="text-truncate line-height-16px shadow">
                      <input type="password" placeholder="*********" [(ngModel)]="data.Password" class="w-100 form-control input-sm m-0 p-2" />
                    </div>
                  </div>
                  <div class="mt-1 mb-2">
                    <button *ngIf="!isLoginError" type="submit" class="btn btn-primary d-flex justify-content-center w-100 m-0 shadow"
                      (click)="login()">
                      <div *ngIf="inProgress" class="d-flex align-items-center justify-content-center">
                        <widget-loader size="20" color="white" isLoading="true"></widget-loader>
                        <div class="ml-2">In progress, please wait...</div>
                      </div>
                      <div *ngIf="!inProgress">Continue to your account</div>
                    </button>
                    <button *ngIf="isLoginError" type="submit" class="btn btn-danger d-flex justify-content-center w-100 m-0 shadow"
                      (click)="login()">
                      <div *ngIf="inProgress" class="d-flex align-items-center justify-content-center">
                        <widget-loader size="20" color="white" isLoading="true"></widget-loader>
                        <div class="ml-2">In progress, please wait...</div>
                      </div>
                      <div *ngIf="!inProgress">{{loginErrorMessage}}</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>