<div class="widget-forgot-password">
  <div class="mb-0">
    <div class="m-0">
      <div class="">
        <div class="w-100 mb-3">
          <div class="mb-1 font-size-14px font-weight-normal">
            Email Address
          </div>
          <div class="text-truncate line-height-16px shadow">
            <input type="text" placeholder="e.g. campilax@gmail.com" class="w-100 form-control input-sm m-0 p-2" />
          </div>
        </div>
        <div class="mt-1 mb-2">
          <button type="submit" class="btn btn-primary w-100 m-0 shadow">Send reset link</button>
        </div>
      </div>
    </div>
    <!-- <div class="dropdown-or-divider mt-4 mb-4">or</div> -->
    <div class="pb-5 height-200px">
      
    </div>
  </div>
</div>
