/* HEADER SECTION */
.app-header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10000;
}

.app-header .navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.app-header .container-fluid {
  max-width: 1312px;
  margin: auto !important;
}

.app-header .top-menubar {
  outline: none;
}

.app-header .top-menubar>* .navbar-nav .nav-link {
  font-size: 0.775rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 30px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.app-header * .nav-link {
  color: unset !important;
}

.app-header>* .navbar-nav .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 30px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.app-header .searchbar {
  max-width: 1312px;
  margin: .57rem auto !important;
  line-height: unset !important;
  padding: .3rem 0px;
}

.app-header .searchbar>* .navbar-nav .nav-link {
  line-height: 16px !important;
}

.app-header .searchbar>* .navbar-nav .nav-link small {
  line-height: unset !important;
}

.app-header .searchbar>* .navbar-nav .nav-link div {
  text-transform: capitalize;
  line-height: 20px !important;
}

.app-header .searchbar>* .searchbar-search {
  width: 100%;
}

.app-header .searchbar>* .searchbar-menu {
  min-width: 19rem;
  padding: .2rem 0px .1rem 0px;
}



/* SEARCHBAR MENU */
.searchbar-menu {
  outline: none;
}

.searchbar-menu .account-menu-item {
  position: relative;
}

.searchbar-menu .account-menu-item::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 10px;
  margin: auto;

  width: 0;
  height: 0;
  border-top: 4px solid #88898a;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  display: none;
}

/*  */
.searchbar-menu .shopping-cart-menu-item {
  position: relative;
}

.searchbar-menu .shopping-cart-menu-item .nav-link {
  line-height: 40px;
  padding: 0;
}

.searchbar-menu .shopping-cart-menu-item .nav-link span {
  line-height: 40px;
  padding: 0;
  min-width: 1.3rem;
  text-align: center;
  font-size: small;
}

.searchbar-menu .shopping-cart-menu-item::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}



/* HELP AND CONTACT SECTION */
.help-and-contact {
  position: fixed;
  margin: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;

  height: 50px;
  display: none;
}

.help-and-contact .docked-menu {
  outline: none;
}


/* ROUTER SECTION */
.app-router-section {
  /* margin-top: 30px; */
  margin-top: 58px;
}


/* FOOTER SECTION */
footer {
  display: block;
}

footer>* {
  font-size: 12px !important;
}

footer>* .container {
  max-width: 1100px;
}

footer>* .list-unstyled {
  font-size: 12px !important;
}

footer .divider {
  max-width: 1100px;
  margin: 0px auto;
}
