<div class="widget-login">
  <div class="mb-0">
    <div class="m-0">
      <div class="">
        <div class="w-100 mb-3">
          <div class="d-flex">
            <div class="w-50 mr-2">
              <div class="mb-1 font-size-14px font-weight-normal">
                First Name
              </div>
              <div class="shadow">
                <input type="text" placeholder="" class="w-100 form-control input-sm m-0 p-2" />
              </div>
            </div>
            <div class="w-50">
              <div class="mb-1 font-size-14px font-weight-normal">
                Last Name
              </div>
              <div class="shadow">
                <input type="text" placeholder="" class="w-100 form-control input-sm m-0 p-2" />
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 mb-3">
          <div class="mb-1 font-size-14px font-weight-normal">
            Email Address
          </div>
          <div class="shadow">
            <input type="text" placeholder="e.g. campilax@gmail.com" class="w-100 form-control input-sm m-0 p-2" />
          </div>
        </div>
        <div class="w-100 mb-3">
          <div class="mb-1 font-size-14px font-weight-normal">
            Choose a Password
          </div>
          <div class="shadow">
            <input type="password" placeholder="*********" class="w-100 form-control input-sm m-0 p-2" />
          </div>
          <div class=" mt-1 p-2 alert alert-info">Use 8 or more characters with a mix of letters, numbers & symbols
          </div>
        </div>
        <div class="w-100 mb-3">
          <div class="mb-1 font-size-14px font-weight-normal">
            Confirm Password
          </div>
          <div class="shadow">
            <input type="password" placeholder="*********" class="w-100 form-control input-sm m-0 p-2" />
          </div>
        </div>
        <div class="w-100 mb-3">
          <div class="custom-control custom-checkbox mb-1">
            <input type="checkbox" id="rememberMeCheckbox" checked="checked" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="rememberMeCheckbox">Keep me signed in on this
              computer.</label>
          </div>
        </div>
        <div class="w-100 mb-3">
          <div class="custom-control custom-checkbox mb-1">
            <input type="checkbox" id="emailNotificationCheckbox" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="emailNotificationCheckbox">Yes, I want to save money by receiving
              personalized
              emails with awesome deals.</label>
          </div>
        </div>
        <div class="mt-4 mb-4 font-size-14px">
          By continuing, you agree to our <a [routerLink]="['']">Conditions of Use</a> and <a
            [routerLink]="['']">Privacy Notice</a>.
        </div>
        <div class="mb-2">
          <button type="submit" class="btn btn-primary w-100 m-0 shadow">Continue to your account</button>
        </div>
      </div>
    </div>
    <div class="dropdown-or-divider mt-4 mb-4">or</div>
    <div class="pb-5">
      <div class="mt-2">
        <button type="submit" class="btn btn-dark w-100 d-flex justify-content-center">
          <i class="icon icon-20 google-color-icon"></i>
          <span class="font-size-14px">Sign Up with Google</span>
        </button>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-outline-dark w-100 d-flex justify-content-center">
          <i class="icon icon-20 facebook-color-icon"></i>
          <span class="font-size-14px">Sign Up with Facebook</span>
        </button>
      </div>
    </div>
  </div>
</div>
