<div class="bg-white">
  <div class="container max-width-1100px pb-5">
    <div class="mt-0 mb-0 pt-4 pb-4">
      <div class="d-flex justify-content-center w-100 pt-5">

        <div class="max-width-450px">
          <div class="mb-4">
            <h1>Reset Password</h1>
            <span>Enter the email address associated your account and we'll send you a link to set a password.</span>
          </div>
          <div class="mb-2">
            <widget-forgot-password class="overflow-hidden" forgotPasswordUrl="forgot-password">
              </widget-forgot-password>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<section class="p-3 bg-dark">
  <div class="container max-width-1100px">
    <div class="row mt-2 mb-2 text-white justify-content-center">
      <h5 class="text-white m-0 text-center">Already own an account? <a [routerLink]="['/login']">log in</a></h5>
    </div>
  </div>
</section>


<div class="modal" tabindex="-1" id="photoGalleryModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>