<div widget-callout-panel id="{{name? name : 'widget-callout-panel'}}" class="widget-callout-panel">
  <div class="card bg-white expand-callout-panel d-flex align-items-center">

    <div class="dropdown-divider m-0"></div>

    <header class="position-absolute top-0 mt-0 w-100">
      <div class="w-100 p-3 bg-white text-dark height-72px">
        <div class="d-flex align-items-center justify-content-start">
          <div class="icon icon-20 bg-secondary mr-1"></div>
          <div>
            <div class="font-weight-bold">
              <h4 class="m-0 font-weight-bold p-2">{{globals.appName}}</h4>
            </div>
            <!-- <div class="font-size-12px">info@campilax.com</div> -->
          </div>
        </div>
      </div>
      <div class="dropdown-divider m-0"></div>
    </header>

    <div class="position-absolute mt-5 w-100 list-group-container">
      
    </div>
  </div>
</div>